<!DOCTYPE html>
<html>
    <head>
        <link  rel= "stylesheet" href="/css/styles.css">
        <script src="/Js/app.js"></script>
    </head>
    <body>
    <h1>{{title}}</h1><br>
    <h1>{{>header}}</h1>
        <p>Created by {{name}}</p>>
        <p>{{Errormessage}}</p>>
       <p>{{>footer}}</p>

    </body>
</html>